* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F1EB;
    font-family: 'Itim', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    position: relative;
    letter-spacing: 0.1em;
}


/* Ikonice cveća */
img {
    width: 3.5em;
    transition: 0.2s;
}

p img:hover {
    scale: 1.3;
}


/* Forma */
form {
    color: black;
    margin-top: 2%;
}

fieldset {
    border: none;
    margin-bottom: 1em;
}

form legend {
    font-size: 1.6em;
    color: #923236;
    margin-bottom: 0.5em;
    margin-top: 0;
}

form legend:last-of-type {
    margin-bottom: 0;
    font-weight: bold;
}

form label {
    font-size: 1.4em;
    padding-left: 2%;
    color: #6C484C;
    margin: 0.3em;
}


/* Inputi */
.radio-placanje {
    margin-top: 0.3em;
}

input[type="checkbox"],
input[type="radio"] {
    accent-color: #923236;
    scale: 1.3;
    transition: 0.3s;
}

input[type="number"] {
    border: 2px solid #6C484C;
    color: #923236;
    border-radius: 0.5em;
    padding: 0.5em;
    transition: 0.3s;
    width: 50%;
    height: 3em;
    background-color: #FDF6F7;
    font-family: 'Itim', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
    margin: 0.3em;
}

input[type="number"]:focus {
    font-family: 'Itim', Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border-color: #923236;
    scale: 1.05;
}

input[type="number"]::placeholder {
    color: #8A7072;
    font-family: 'Itim', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em
}

input[type="checkbox"]:hover,
input[type="radio"]:hover {
    scale: 1.5;
}

input[type="number"]:hover {
    box-shadow: 0 0 5px #923236;
}

.napomena {
    color: #923236;
    font-size: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 15px #923236;
    padding: 0.2em;
    max-width: 350px;
    margin-top: 0.3em;
}

/* Dugmići bez rezultata*/
.btns {
    position: fixed;
    bottom: 5%;
    left: 70%;
    z-index: 1;
    text-align: center;
    transition: 1s ease-in-out;
}

#izracunaj,
#resetuj {
    font-family: 'Itim', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    appearance: none;
    background-color: #B09B7D;
    padding: 0.8em;
    color: #923236;
    cursor: pointer;
    border: none;
    opacity: 0.7;
    box-shadow: 0 0 15px #923236;
    transition: 0.22s;
    margin-bottom: 2em;
}

#izracunaj {
    border-radius: 100%;
    transform: rotate(20deg);
    transition: 0.3s ease-in-out;
}

#resetuj {
    border-radius: 100%;
    transform: rotate(-5deg);
    transition: 0.3s ease-in-out;
}

#izracunaj:hover,
#resetuj:hover {
    opacity: 1;
    scale: 1.1;
    font-weight: bold;
}

#izracunaj:active,
#resetuj:active {
    scale: 0.9;
}


/* Dugmići sa rezultatom */
.btns-result {
    left: 80%;
    transform: translateY(-50%);
}

.izracunaj-resetuj-result {
    background-color: #923236!important;
    color: #F8F1EB!important;
    font-size: 0.8em!important;
    aspect-ratio: 3/2;
    transform: rotate(0deg)!important;
    opacity: 0.9!important;
}

.izracunaj-resetuj-result:hover {
    opacity: 1!important;
}


/* Porudžbina */
#result {
    margin-top: 3%;
    color: #6C484C;
    opacity: 0;
    transition: 1s ease-in-out;
}

.visible {
    opacity: 1!important;
    display: block;
}

#porNaslov {
    color: #923236;
    margin-bottom: 0.5em;
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#result p {
    display: inline-block;
    width: 80%;
}

#result p:nth-of-type(3) {
    margin-bottom: 1em;
}

#result h2 {
    font-weight: normal;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#result h3 {
    font-weight: normal;
    margin-top: 1em;
    font-size: 1.3em;
}

p {
    font-size: 1.2em;
}

.cena-ukupno {
    margin: 1em auto;
    border-radius: 0.5em;
    padding: 0.5em;
    width: fit-content;
    box-shadow: 0 0 15px #13766A;
    background-color: #13766A;
    color: white;
    /* opacity: 0.8; */
}

/* Pozadina */
img#pozadina {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: -1;
    transition: opacity 1s ease-in-out;
}


/* Sweet Alert */
.swal2-popup {
    border-radius: 1em;
}

.swal2-title {
    font-family: 'Itim', Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 1em;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0.5em;
    color: #923236;
}

.swal2-confirm {
    font-family: 'Itim', Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 1.3em !important;
    background-color: #923236 !important;
    color: #FDF6F7 !important;
    border-radius: 50% !important;
    width: 5em;
    box-shadow: 0 0 15px #923236 !important;
}


/* Responsive design */
.row {
    overflow: hidden;
    width: 100%;
}


@media only screen and (min-width: 900px) {

    .col-4, .col-6, .col-2 {
        float: left;
    }

    .col-4 {
        width: calc(100% / 3);
        padding-left: 2%;
    }

    .col-6 {
        width: 50%;
        padding-left: 0;
        padding-right: 5%;
        text-align: center;
    }

    .col-2 {
        width: calc(100% / 6);
    }
}


@media only screen and (min-width: 1060px) {

    .col-4 {
        padding-left: 6%;
    }
}


@media only screen and (max-width: 900px) {

    .mob {
        position: relative;
    }

    .btns {
        position: absolute;
        right: 5%;
        top: 5%;
    }

    .btns-result {
        right: 5%;
        top: 5%;
        transform: translateY(0);
    }

    .col-6 {
        margin-top: 3em;
        text-align: center;
    }
}


@media only screen and (max-width: 650px) {

    #pozadina {
        content: url(/styles/images/pozadina-mob.jpg);
        opacity: 0.2;
    }

    #izracunaj,
    #resetuj {
        background-color: #923236;
        color: #F8F1EB;
        aspect-ratio: 3/2;
        font-size: 0.8em!important;
    }

    #izracunaj,
    #resetuj {
        transform: rotate(0);
    }

    .col-6 {
        margin: 0;
        width: 100%;
        margin-top: 1em;
    }

    #izracunaj,
    #resetuj {
        opacity: 0.8;
    }

    .napomena {
        background-color: rgba(236, 221, 218, 0.7);
    }

    .btns {
        margin-top: 1em;
        position: static;
        text-align: center !important;
    }

    .odaberite-cvece {
        text-align: left;
    }

    fieldset {
        width: 85%;
        margin: 1em auto;
    }

    .number input {
        margin-right: 0;
    }

    .number label {
        padding-left: 0;
    }
}


@media only screen and (max-width: 900px) {

    form {
        margin-top: 0;
    }

    .sve {
        margin: 5%;
    }

    input[type="number"] {
        max-width: 200px;
    }

    .btns {
        left: 60%;
    }
}